<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Home</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <style>
      /* Override Bootstrap styles to remove dropdown icon */
      .btn-no-dropdown::after {
        display: none !important;
      }
    </style>
  </head>

  <body>
    <%- include('./partials/nav') %><br />
    <u style="padding: 5px">
      <a
        href="/"
        class="m-3 p-3 pt-3"
        aria-label="Back to All Blogs"
        style="text-decoration: none; color: white"
        >Back to All Blogs
      </a></u
    >
    <div class="article">
      <% if(locals.blog) { %>
      <div class="container mt-4">
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          "
        >
          <h1><%= blog.title %></h1>
          <% if(blog && blog.createdBy && locals.user && locals.user._id
          &&locals.user._id === blog.createdBy._id.toString() ){ %>
          <a id="deleteButton" href="/blog/deleteblog/<%= blog._id %>">
            <img
              src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAStJREFUSEvtVksOAUEQfS8O4AoOwMYFfC5gwZJwNMKShQv4XMBG7F3BAaRMS5uM0a2rIzIkM8vu9+r1q66aLqKgjwXpQiUsIhUAPQANwMsRAEcAa5LXkKGgsIgYzAZAOxTM7m9JdkNYjXDdOgnFyu7XSZ7eETTCxunWBumQ3LkCiogK9+D+hrCI1ABMco7M2tiuzZL9syeFIdyUZMp9cpxLV8ydarBP1/QbwtljJ+5NEbUA7JOC0rbSPYSG6y0uDdmXXw03SlhETOGZIjqTnFp3rrVgtmKFXwK63H3DcSnsrOAy1a62K6s6zYq2P7W4fLpjU13Mn0vz9v31I7FMhry+1qUHtyI5iG2nIYD5h8IjkosoYXtXTTsMVCMPcLEDxMHHC06ZkYJqeGHCN60sTC6Y6cxIAAAAAElFTkSuQmCC"
              alt="delete blog"
              width="30px"
              height="30px"
            />
          </a>
          <% } %>
        </div>

        <img src="<%= blog.coverImageURL %>" class="blogImg" width="40%" />
        <p class="mt-3"><%= blog.body %></p>
      </div>
      <div class="container mt-4">
        <img
          src="<%= blog.createdBy.profileImageUrl %>"
          width="50px"
          style="border-radius: 50%"
          alt=" "
        />
        <%= JSON.stringify(blog.createdBy.fullName).slice(1,-1) %> <br /><br />
        <span class="article-published"
          >Published At : <%= blog.createdAt %></span
        >
      </div>

      <div class="container mt-4">
        <h2>Comments (<%= Comments.length %>)</h2>
        <% if (locals.user) { %>
        <form
          class="w-50 mx-auto"
          action="/blog/comment/<%= blog._id %>"
          method="post"
        >
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Comments"
              name="content"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <% } %>
      <div class="m-3 mr-2 pl-3">
        <% Comments.forEach((comment) => { %>
        <div>
          <div style="display: flex; flex-direction: row; align-items: center">
            <img
              src="<%= comment.createdBy.profileImageUrl %>"
              width="30px"
              height="30px"
              alt=" "
              style="border-radius: 50%"
            />
            <span class="p-2" style="display: flex; flex-direction: row">
              <%= JSON.stringify(comment.createdBy.fullName).slice(1,-1) %> <%
              if (blog && comment && locals.user) { %>
              <div class="dropdown" style="margin-left: 10px">
                <a
                  class="nav-link dropdown-toggle btn-no-dropdown pl-3"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAQxJREFUSEvtlDFKQ0EURc+tTZEmCIIgZAeJlskqxBUIhhRmK0khouAGzB4C9kJIGetAxFIQG+E5CU8Zhoym+Ukzv/v/vvvucP5lxJ4e7SmXErwz8gV1QV0ZgVKuX7Rm1gK6wJOkaczczA6Ac//2KOkz0bPen7mNqM1sAAyjZT1Jd6t3M6sDz0DT9TnQlvThetYbHy4X/AY0osGFpGNf3A/aTdK6y6A/uJ71bhP8ChxGg0tJR764F7TbJPgq6PeuZ73bBF8Do2iwL2kd5qhX//zE9RfgTNK761nvv8G+4BTohIJNJM2S8tSAC+ALGG8oV9b7Z7kquzWixeUC2QXldUZBXVBXRqCUqzK06eJvKjddH3BvsCIAAAAASUVORK5CYII="
                  />
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <% if (locals.user._id === blog.createdBy._id.toString() ||
                    comment.createdBy._id.toString() === locals.user._id) { %>
                    <form
                      action="/blog/<%= blog._id %>/comment/<%= comment._id %>"
                      method="post"
                    >
                      <button type="submit" class="dropdown-item">
                        Delete
                      </button>
                    </form>
                    <% } else { %>
                    <a class="dropdown-item" href="#">Reply</a>
                    <a class="dropdown-item" href="#">Report</a>
                    <% } %>
                  </li>
                </ul>
              </div>
              <% } %>
            </span>
          </div>
          <p class="pt-3 pl-7"><%= comment.content %></p>
        </div>
        <hr />
        <% })%>
      </div>
      <% } %>
    </div>

    <% include('./partials/script') %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-success m-2",
          cancelButton: "btn btn-danger m-2",
        },
        buttonsStyling: false,
      });
      document
        .getElementById("deleteButton")
        .addEventListener("click", function (event) {
          event.preventDefault();

          swalWithBootstrapButtons
            .fire({
              title: "Are you sure?",
              text: "You won't be able to revert this!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonText: "Yes, delete it!",
              cancelButtonText: "No, cancel!",
              reverseButtons: true,
            })
            .then((result) => {
              if (result.isConfirmed) {
                // Proceed with the deletion by navigating to the delete endpoint
                window.location.href = this.href;
              } else if (result.dismiss === Swal.DismissReason.cancel) {
                swalWithBootstrapButtons.fire({
                  title: "Cancelled",
                  text: "Your blog post is safe :)",
                  icon: "error",
                });
              }
            });
        });
    </script>
  </body>
</html>
