<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Home</title>
  </head>
  <bodyz>
    <%- include('./partials/nav') %>
    <div class="row row-cols-4">
      <% if(locals.blogs) { blogs.forEach(blog=> { %>
      <div class="card mt-5 m-5 col" style="width: 18rem">
        <img src="<%= blog.coverImageURL%>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <p class="card-text"><%= blog.description%></p>
          <span class="mt-3 mb-3"
            >by : <%=JSON.stringify(blog.authorName).slice(1,-1) %></span
          >
          <a href="/blog/<%=blog._id  %>" class="btn btn-primary m-3">view</a>
        </div>
      </div>
      <%}); }%>
    </div>
    <% include('./partials/script') %>
  </body>
</html>
